<!-- views/index.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>food app</title>
  </head>
  <body>
    <h1>Welcome to my favorite food app!</h1>
    <p> An app for looking at favorite cuisne.</p>
  </body>
  <!-- views/index.ejs -->
<a href="/fruits">Browse Foods</a>

</html>
