<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Foods Index</title>
  </head>
  <body>
    <h1>All Cuisine</h1>
    <ul>
        <% foods.forEach(food => { %>
          <li><a href="/foods/<%= food._id %>"><%= food.name %></a></li>
        <% }); %>
      </ul>
  </body>
  <!-- views/index.ejs -->
<a href="/foods/new">Add new Cuisine</a>

</html>