<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add a Food</title>
  </head>
  <body>
    <h1>Add a new Food!</h1>
    <form action="/foods" method="POST">
      <label for="name">Name:</label>
      <input type="text" id="name" name="name" />
      <label for="taste">Taste:</label>
      <input type="text" id="taste" name="taste" />
      <button type="submit">Add Food</button>
  </body>
</html>